{% extends "sign/layout.html" %}

{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'sign/css/profile.css' %}" type="text/css">{% endblock %}

{% block content %}
<div class="border border-dark rounded back-profile content justify-content-center">
    <h1 class="text-center mb-2" style="color: white;">Добро пожаловать в личный кабинет, {{ user.username }}!</h1>
    <div class="card rounded-2 text-black col-xl-6" style="margin: auto;">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Контактные данные</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-6" style="margin: auto">
                <label for="name">Имя:</label>
                <input class="form-control" id="name" value="{{name}}">
                <label for="surname">Фамилия:</label>
                <input class="form-control" id="surname" value="{{surname}}">
                <label for="phone">Телефон:</label>
                <input class="form-control" id="phone" value="{{phone}}">
                <button class="btn btn-primary btn-block form-control mt-3" onclick="saveData()">
                    Сохранить</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
              {% if isAddContact %}
                <button class="btn btn-warning btn-block btn-lg mb-3 mt-5" type="button" onclick="showOrder()">
                    Заказать услугу
                </button>
                <p style="text-align: justify;">Нажмите на кнопку для формления заказа. Убедитесь в том, что оставили верные контакные данные для обратной связи.</p>
              {% else %}
                <button class="btn btn-warning btn-block btn-lg mb-3 mt-5" type="button" disabled="True">
                    Заказать услугу
                </button>
                <p style="text-align: justify;">Укажите контактные данные для заказа.</p>
              {% endif %}
                
            </div>
            <div class="col-lg-6">
                <a href="{% url 'logout' %}">
                    <button class="btn btn-warning btn-block btn-lg mb-3 mt-5" type="button">Выйти из профиля</button>
                </a>
                <p style="text-align: justify;">Нажмите на кнопку для выхода из профиля</p>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="order" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="orderModalLabel">Заказать услугу</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label for="theme">Тема заказа</label>
          <input type="text" maxlength="255" id="theme" class="form-control">
          <label for="content">Содержание заказа:</label>
          <textarea id="content" class="form-control"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            <button type="button" class="btn btn-primary" onclick="sendOrder()">Заказать</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block js %}
<script src="{% static 'sign/js/jquery.maskedinput.js' %}"></script>
<script src="{% static 'sign/js/profile.js' %}"></script>
<script>
    $(function() {
      $("#phone").mask("+7(999)999-99-99", {placeholder: "+7(###)###-##-##" });
    });
</script>
{% endblock %}