{% extends "sign/layout.html" %}

{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'sign/css/profile.css' %}" type="text/css">{% endblock %}

{% block content %}
<div class="border border-dark rounded back-profile content justify-content-center">
    <h1 class="text-center mb-2" style="color: white;">Welcome to your profile, {{ user.username }}!</h1>
    <div class="card rounded-2 text-black col-xl-6" style="margin: auto;">
        <div class="row">
            <div class="col-lg-6 align-items-center">
                <div class="text-black px-3 py-4 p-md-5 mx-md-4">
                        <a target='_blank' href="{% url 'secret' %}">
                            <button class="btn btn-outline-primary my-2 my-sm-0" type="button">Заказать услугу</button></a>
                        <p>Нажав на кнопку, вы попадаете на страницу с формой, в которой можете выбрать своего наставника и вид обучения.</p>
                </div>
            </div>
            <div class="col-lg-6 align-items-center">
                <div class="text-black px-3 py-4 p-md-5 mx-md-4">
                    <a target='_blank' href="{% url 'logout' %}">
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="button">Выйти из профиля</button>
                    </a>
                    <p class="small mb-0">
                        Для того, что бы выйти - вам необходимо нажать на кнопку "Выйти из профиля".
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 