{% extends "sign/layout.html" %}

{% load static %}

{% block content %}
<section class="content">
	<div class="container">
		<div class="row">&#160</div>
		<div class="row">&#160</div>
		<div class="row justify-content-center">
			<div class="col-xl-10">
				<div class="card rounded-3 text-black ">
					<div class="row">
						<div class="col-lg-6">
							<div class="card-body p-md-4 mx-md-4">
                  <div class="text-center">
                    <img src="{% static 'sign/img/neuro.png' %}" style="width: 185px;" alt="logo">
                    <h3 class="mt-1 mb-5 pb-1">AIGames</h3>
                    <h5>Войти</h5>	
                  </div>
                  {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                  {% endif %}

                  {% if next %}
                    {% if user.is_authenticated %}
                      <p>Your account doesn't have access to this page. To proceed,
                      please login with an account that has access.</p>
                    {% else %}
                      <p>Please login to see this page.</p>
                    {% endif %}
                  {% endif %}

                  <form action="." method="post">
                    {% csrf_token %}
                    <table class="container-fluid">
                      <tr class="container-fluid">
                        <td class="container-fluid">
                          <label for="id_password">Логин</label>
                          <input type="text"  class="form-control" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
                        </td>
                      </tr>                    
                      <tr class="container-fluid">
                        <td class="container-fluid">
                          <label for="id_password">Пароль</label>
                          <input type="password" class="form-control" name="password" autocomplete="current-password" required="" id="id_password">
                        </td>
                      </tr>
                    </table>
                    <br>
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button type="submit" class="btn btn-warning btn-block btn-lg mb-3"
                        type="button">Авторизация</button>
                      <a href="{% url 'password_reset' %}" class="text-muted" href="#!">Забыли пароль?</a>
                    </div>
                  </form>
                  
                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Нет аккаунта?&#160</p>
                    <a href="{% url 'register' %}" class="btn btn-outline-warning " role="button">Создать
                      новый</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center bg-gradient">
                <div class="text-black px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">We are more than just a company</h4>
                  <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                    do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}