{% extends "sign/layout.html" %}

{% load static %}

{% block content %}
<section class="content">
	<div class="container py-5">
		<div class="row">&#160</div>
		<div class="row">&#160</div>
		<div class="row justify-content-center">
			<div class="col-xl-10">
				<div class="card rounded-3 text-black">
					<div class="row">
						<div class="col-lg">
							<div class="card-body">

								<div class="text-center">
									<img src="{% static 'sign/img/neuro.png' %}" style="width: 185px;" alt="logo">
									<h4 class="mt-1 mb-5 pb-1">AIGames</h4>
								</div>
								{% if form.errors %}
								<p>Your username and password didn't match. Please try again.</p>
								{% endif %}

								{% if next %}
								{% if user.is_authenticated %}
								<p>Your account doesn't have access to this page. To proceed,
									please login with an account that has access.</p>
								{% else %}
								<p>Please login to see this page.</p>
								{% endif %}
								{% endif %}
								<h3>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}