{% extends "sign/layout.html" %}

{% load static %}

{% block css %}
<link href="{% static 'game/css/main.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}


{% block content %}
<section class="content_tetris">
    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-9">
                <h1 class="header pl-5">Tetris AI</h1>
                <div class="gamesGrid">
                    <div class="game-container">
                        <canvas width="200px" height="400px" id="grid-canvas-player" class="grid"></canvas>
                        <div class="controls-container">
                            <div id="score-container-player" class="score-container">0</div>
                            <div class="next-container">
                                <canvas id="next-canvas-player" class="next-canvas" width="80px" height="80px"></canvas>
                            </div>
                            <a id="start-button" class="start-ai-button">Start Game</a>
                            <a id="drop-button" class="reset-button">Reset</a>
                            <a id="stopAll-button" class="reset-button">Stop all</a>
                        </div>
                    </div>
                    <div class="game-container">
                        <canvas width="200px" height="400px" id="grid-canvas-ai" class="grid"></canvas>
                        <div class="controls-container">
                            <div id="score-container-ai" class="score-container">0</div>
                            <div class="next-container">
                                <canvas id="next-canvas-ai" class="next-canvas"  width="80px" height="80px"></canvas>
                            </div>
                            <a id="ai-button" class="start-ai-button">Run AI</a>
                            <a id="stop-button" class="reset-button">Stop AI</a>
                        </div>
                    </div>
                </div>
                <div>
                    <p class="ml-5 mt-1">Created by <a href="https://vk.com/manuelka" target="#">DVP Team</a></p>
                </div>
            </div>
            <div class="col-3">
                <h3 class="text-center mt-1">Таблица рекордов</h3>
                <table class="table-striped container-fluid">
                    {% for item in records %}
                    <tbody class="container-fluid">
                        <tr>
                            <td>Pos</td>
                            <td>Username</td>
                            <td>Record</td>
                        </tr>
                        <tr>
                            <td>{{item.count}}</td>
                            <td>{{item.nickname}}</td>
                            <td>{{item.record}}</td>
                        </tr>
                        {% endfor %}
                        {% if user.is_authenticated %}
                        <tr>
                            <td>Your record:</td>
                            <td id="rec">{{record}}</td>
                            <td></td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p>
                    Функция оценки потерь имеет вид 
                </p>
                <p>
                    <img src="{% static 'game\img\formula.png' %}" alt="">
                </p>
                <p>
                    У вас есть возможность изменить каждый коэффициент и оценить каждый из них
                </p>

            </div>
            <div class="col-3 text-center">
                <label for="id1">Коэффициент высоты (a)</label> 
                <input type="number" class="form-control my-2" id="in1" value="0.510066" step="0.000001">
            </div>
            <div class="col-3 text-center">
                <label for="id2">Коэффициент линий (b)</label>
                <input type="number" class="form-control my-2" id="in2" value="0.760666" step="0.000001">
            </div>
            <div class="col-3 text-center">
                <label for="id3">Коэффициент дырок (c)</label>
                <input type="number" class="form-control my-2" id="in3" value="0.35663" step="0.000001">
            </div>
            <div class="col-3 text-center">
                <label for="id4">Коэффициент ухабистости (d)</label>
                <input type="number" class="form-control my-2" id="in4" value="0.184483" step="0.000001">
            </div>
            <div class="col-3 text-center">
                <a id="recreate-ai" class="start-ai-button">Recreate AI</a>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'game/js/polyfill.js' %}"></script>
<script src="{% static 'game/js/grid.js' %}"></script>
<script src="{% static 'game/js/piece.js' %}"></script>
<script src="{% static 'game/js/timer.js' %}"></script>
<script src="{% static 'game/js/stopwatch.js' %}"></script>
<script src="{% static 'game/js/game_manager.js' %}"></script>
<script src="{% static 'game/js/random_piece_generator.js' %}"></script>
<script src="{% static 'game/js/ai.js' %}"></script>
<script src="{% static 'game/js/tuner.js' %}"></script>
<script>
    var manager = new GameManager();
</script>

{% endblock content %}