.back-profile {
  background-image: url(../img/profile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0px;
}