html,
body {
  height: 100%;
  max-width: 100vw;
}
footer {
  padding: 10px;
  min-height: 120px;
  width: 100%;
  flex: 0 0 auto;
  background-color: #0a1322; 
  color: #f3f7f8"
}
.card{
border-style: solid;
border-radius: 10px 10px 10px 10px;
border-color: #bdc3c7;
border-width: 1px;
}
.container-boss{
background-size: cover;
}
.content {
  padding-top: 56px;
  min-height: calc(100vh - 120px);
}
.content_tetris{
  min-height: calc(100vh - 120px);
}
.img_team{
  max-height: 100vh;
  max-width: 90vw;
}
    
#box-boss {
margin-top: 70px;
background: rgb(62,215,198);
background: linear-gradient(90deg, rgba(62,215,198,1) 0%, rgba(129,11,182,1) 100%);
border-radius: 10px 10px 10px 10px;
}
#header{
    width: 100%;
    height: 100vh;
}