.card{
border-style: solid;
border-radius: 10px 10px 10px 10px;
border-color: #bdc3c7;
border-width: 1px;
}
.container-boss{
background-size: cover;
}
#box-boss {
margin-top: 70px;
background: rgb(62,215,198);
background: linear-gradient(90deg, rgba(62,215,198,1) 0%, rgba(129,11,182,1) 100%);
border-radius: 10px 10px 10px 10px;
}
#header{
    width: 100%;
    height: 100vh;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
}
.content {
   min-height: calc(100vh - 166px);
   background-color: #0a1322;
}
.content_tetris{
min-height: calc(100vh - 166px);
}
.img_team{
max-height: 100vh;
max-width: 90vw;
}






